# Private School, Public Declines? The Effect of Private School Creation on Public School Outcomes

## Research Question

As the Black Lives Matter movement swept through the nation over the summer, new questions arose in my high school alumni group chat. While I didn't attend a "private" school perse, my high school requires an application and is usually filled with high-income students with very few students of color. Against a more racially and politically charged backdrop, the Facebook group grapped with the issue of how to ensure that our elite magnet school was equitable. Ammendments to admission critera were proposed, as were greater outreach programs and quota systems. However for me, a deeper question lurked in the background: should my elite, priviledged high school--and other schools like it--even exist?

Of course, this larger question has layers of ethical reasoning alongside plenty of unanswered empirical conundrums. In this research project I endeavor to answer one simple question: **how does the presence (and density) of private schools affect the outcomes of that county's public schools?**

## Data Description

### Data Overview

To approach this question, I assemble a dataset of all counties in the United States with information about educational outcomes and the presence of private schools by merging information from the [Stanford Educational Data Archive (Version 4.0)](https://edopportunity.org/get-the-data/seda-archive-downloads/#documentation-4) and [Homeland Infrastructure Foundation-Level Data Private Schools](https://hifld-geoplatform.opendata.arcgis.com/datasets/private-schools?geometry=77.758%2C23.941%2C52.270%2C64.949). The Stanford Educational Data Archive (SEDA) provides county level data on achievement of students in public schools broken down by racial, gender, and socioeconomic groups for easy comparison. The Homeland Infrastructure Foundation-Level Data Private Schools dataset (HIFLD) provides a list of all private schools in the United States, with information about their enrollment and which county they belong to. I construct a count of private schools and their students in each county from the HIFLD dataset and merge that with the SEDA dataset to provide information on the presence of private schools in each county.

 ## Data Cleaning

### Part 1: Aggregating HIFLD Private School Data to a County-Level Data

In [1]:
#install plotly
#!pip3 install plotly
# loads libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as ply
import math
from scipy import stats

1. I download the complete data from [Homeland Infrastructure Foundation-Level Data Private Schools](https://hifld-geoplatform.opendata.arcgis.com/datasets/private-schools?geometry=77.758%2C23.941%2C52.270%2C64.949) website. Their data takes the form of a csv file, which I load using Pandas.

In [2]:
# reads in the csv from HIFLD
hifld_raw_path = 'rawdata/hifld_Private_Schools.csv'
hifld = pd.read_csv(hifld_raw_path)
hifld.head()

,X,Y,FID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,SOURCEDATE,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,START_GRAD,END_GRADE,FT_TEACHER,SHELTER_ID
0,-9.751675e+06,3.556465e+06,1,00000634,ST BENEDICT CATHOLIC SCHOOL,12786 ILLINOIS ST,ELBERTA,AL,36530,NOT AVAILABLE,...,2009/12/10 00:00:00,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,151,2,13,12,NOT AVAILABLE
1,-9.759623e+06,3.549493e+06,2,A9500035,VICTORY CHRISTIAN ACADEMY,20511 COUNTY ROAD 12,FOLEY,AL,36535,NOT AVAILABLE,...,2009/12/10 00:00:00,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,6,2,7,1,NOT AVAILABLE
2,-9.785394e+06,3.580965e+06,3,00000645,CHRIST THE KING CATHOLIC SCHOOL,1503 MAIN ST,DAPHNE,AL,36526,NOT AVAILABLE,...,2009/12/10 00:00:00,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,485,2,13,24,NOT AVAILABLE
3,-9.764468e+06,3.576040e+06,4,01604001,ST PATRICK CATHOLIC SCHOOL,23070 HWY 59 N,ROBERTSDALE,AL,36567,NOT AVAILABLE,...,2009/12/10 00:00:00,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,156,2,13,17,NOT AVAILABLE
4,-9.786211e+06,3.581228e+06,5,A0500005,BAYSIDE ACADEMY,303 DRYER AVE,DAPHNE,AL,36526,NOT AVAILABLE,...,2009/12/10 00:00:00,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,3,672,2,17,81,NOT AVAILABLE

2. Our SEDA data only includeds data on grades 3-8, while the HIFLD set of schools includes all grades. To attempt to ameliorate this mismatch, I drop schools that do not have any 3-8th grades, and scale the enrollment such that the enrollment is proportionate to the students in 3-8th grades (with the assumption there are the same number of students in each year).

In [3]:
# drop schools with no 3-8th grade students
hifld = hifld[(hifld.START_GRAD <= 8) & (hifld.END_GRADE >= 3) & (hifld.START_GRAD - hifld.END_GRADE <= 0)]

def adj_enrollment(row):
    """
    Returns adjusted enrollment numbers based on proportion of school in 3-8th grades
    Parameters:
    s is a number representing starting grade
    e is a number representing end grade
    enroll is a number representign total enrollment
    """
    s = row['START_GRAD']
    e = row['END_GRADE']
    enroll = row['ENROLLMENT']
    if s == e:
        if (3 <= e <= 8):
            grades = 1
    elif s - 3 >= 0:
        if (8 - e) >= 0:
            grades = 6 - (s-3) - (8 - e)
        else:
            grades = 6 - (s-3)
    elif (8 - e) >= 0:
        grades = 6 - (8-e)
    else:
        grades = 6
    if (e-s > 0):
        proportion = grades/(e-s+1)
        new_enroll = proportion * enroll
        return new_enroll
    else:
        return grades*enroll
            
# rescale enrollment to reflect proportion of enrollment that is in the 3-8th grade
# round up to have an even number of students
hifld['NEW_ENROLLMENT'] = hifld.apply(lambda row: adj_enrollment(row), axis=1)

hifld

,X,Y,FID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,START_GRAD,END_GRADE,FT_TEACHER,SHELTER_ID,NEW_ENROLLMENT
0,-9.751675e+06,3.556465e+06,1,00000634,ST BENEDICT CATHOLIC SCHOOL,12786 ILLINOIS ST,ELBERTA,AL,36530,NOT AVAILABLE,...,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,151,2,13,12,NOT AVAILABLE,75.500000
1,-9.759623e+06,3.549493e+06,2,A9500035,VICTORY CHRISTIAN ACADEMY,20511 COUNTY ROAD 12,FOLEY,AL,36535,NOT AVAILABLE,...,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,6,2,7,1,NOT AVAILABLE,5.000000
2,-9.785394e+06,3.580965e+06,3,00000645,CHRIST THE KING CATHOLIC SCHOOL,1503 MAIN ST,DAPHNE,AL,36526,NOT AVAILABLE,...,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,485,2,13,24,NOT AVAILABLE,242.500000
3,-9.764468e+06,3.576040e+06,4,01604001,ST PATRICK CATHOLIC SCHOOL,23070 HWY 59 N,ROBERTSDALE,AL,36567,NOT AVAILABLE,...,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,156,2,13,17,NOT AVAILABLE,78.000000
4,-9.786211e+06,3.581228e+06,5,A0500005,BAYSIDE ACADEMY,303 DRYER AVE,DAPHNE,AL,36526,NOT AVAILABLE,...,IMAGERY/OTHER,2009/12/31 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,3,672,2,17,81,NOT AVAILABLE,252.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22608,-9.075323e+06,4.763202e+06,22609,A1303707,PARKERSBURG ACADEMY,1800 38TH ST,PARKERSBURG,WV,26104,NOT AVAILABLE,...,IMAGERY/OTHER,2019/12/06 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,29,2,12,3,NOT AVAILABLE,15.818182
22609,-8.978849e+06,4.872505e+06,22610,A1771553,SIKORA MONTESSORI SCHOOL,2108 LUMBER AVE,WHEELING,WV,26003,NOT AVAILABLE,...,IMAGERY/OTHER,2019/12/06 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,10,2,4,2,NOT AVAILABLE,6.666667
22610,-9.129973e+06,4.715928e+06,22611,A1703812,SYCAMORE HOLLOW SCHOOL,6587 LIEVING RD,LETART,WV,25253,NOT AVAILABLE,...,IMAGERY/OTHER,2019/12/06 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,12,6,13,1,NOT AVAILABLE,4.500000
22611,-8.661268e+06,4.783738e+06,22612,A1703814,"THE LIGHT OF THE CHILD MONTESSORI SCHOOL, LLC",320 W HIGH ST,SHEPHERDSTOWN,WV,25443,NOT AVAILABLE,...,IMAGERY/OTHER,2019/12/06 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,1,4,2,4,2,NOT AVAILABLE,2.666667
22613,-1.218468e+07,5.087538e+06,22614,A1703875,GREEN RIVER CHRISTIAN ACADEMY,800 HOMESTEAD DR,GREEN RIVER,WY,82935,NOT AVAILABLE,...,IMAGERY/OTHER,2019/12/06 00:00:00,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,3,14,3,15,4,NOT AVAILABLE,6.461538

3. Note that the data includes a FIPS county identifier. Such identifier is unique for each county in the United States. Currently, each observation of our dataset represents a county. I want to group our data by county and compute some summary statistics to be able to merge it with the SEDA data. Originally, I grouped the data first by COUNTY, COUNTYFIPS, and STATE, but there appeared to be some counties that mistakenly shared FIPS codes. By getting rid of the county names, we confirm that all counties with the same FIPS number will be grouped together. By doing this we go from having 2341 rows to just 2146.

In [4]:
# keep only necessary variables
hifld = hifld[['NAME', 'STATE', 'NEW_ENROLLMENT', 'COUNTY', 'COUNTYFIPS']]
hifld.head()

                              NAME STATE  NEW_ENROLLMENT   COUNTY  COUNTYFIPS
0      ST BENEDICT CATHOLIC SCHOOL    AL            75.5  BALDWIN        1003
1        VICTORY CHRISTIAN ACADEMY    AL             5.0  BALDWIN        1003
2  CHRIST THE KING CATHOLIC SCHOOL    AL           242.5  BALDWIN        1003
3       ST PATRICK CATHOLIC SCHOOL    AL            78.0  BALDWIN        1003
4                  BAYSIDE ACADEMY    AL           252.0  BALDWIN        1003

In [5]:
# Groups data to obtain enrollment numbers and count of schools in county 
hifld_grouped_schoolcounts = hifld.groupby(by = ['COUNTYFIPS', 'STATE']).NAME.count().reset_index()
hifld_grouped_enrollment = hifld.groupby(by = 'COUNTYFIPS').NEW_ENROLLMENT.sum().reset_index()

# Merges so each county ID is mapped to both a total enrollment count and school count  
hifld_county = hifld_grouped_schoolcounts.merge(hifld_grouped_enrollment, on = 'COUNTYFIPS')

# Rename counties and make the column names lower case
hifld_county = hifld_county.rename(columns = {'NAME' : 'priv_schools', 'NEW_ENROLLMENT' : "priv_enrollment"})
hifld_county.columns = hifld_county.columns.str.lower()

hifld_county.head()

   countyfips state  priv_schools  priv_enrollment
0        1001    AL             6       226.056818
1        1003    AL             7       682.500000
2        1005    AL             2       144.333333
3        1007    AL             1        45.000000
4        1009    AL             2        50.625000

In [6]:
duplicates = hifld_county.loc[hifld_county.duplicated(subset=['countyfips']),:]
duplicates.shape

(15, 4)

4. It seems like there are 15 duplicate FIPS IDs. This means that there is a (supposedly unique) FIPS id matched with a different state. There are two ways to handle this: first, we could just group by countyfips in the previous step rather than by countyfips and state, meaning that schools with the wrong state are grouped to the county their FIPS identifies them as. Second, I could just drop the duplicate county with the lower number of schools. Inspecting the duplicates show that there is usually just one lone private school in the case where there is a different state duplicate. I will drop these 17 duplicate counties since their data in one way or another is corrupted.

In [7]:
# drop duplicate with lower school count
# sort by number of private schools to ensure that the first instance of duplicate has the higher count
# and is kept
hifld_county = hifld_county.sort_values(by = 'priv_schools', 
                                        ascending = False).drop_duplicates(subset = 'countyfips',
                                                                           keep = 'first')
# rearrange dataframe
hifld_county = hifld_county.sort_values(by = 'countyfips')

hifld_county

      countyfips state  priv_schools  priv_enrollment
0           1001    AL             6       226.056818
1           1003    AL             7       682.500000
2           1005    AL             2       144.333333
3           1007    AL             1        45.000000
4           1009    AL             2        50.625000
...          ...   ...           ...              ...
2076       56025    WY             4        56.745455
2077       56029    WY             1         6.400000
2078       56033    WY             2        57.100000
2079       56037    WY             2        42.461538
2080       56039    WY             2        54.025000

[2066 rows x 4 columns]

In [8]:
# check for duplicates again
duplicates = hifld_county.loc[hifld_county.duplicated(subset=['countyfips']),:]
duplicates.shape

(0, 4)

Now there are no duplicates! Each fipscounty id now uniquely identifies a county and has information on the number of private schools and total enrollment.

5. Let's save this dataframe.

In [9]:
#Saving dataframe to csv
hifld_county_clean_path = 'cleandata/hifld_county_clean.csv'
hifld_county.to_csv(path_or_buf = hifld_county_clean_path, index = False)

### Part 2: Cleaning SEDA County Data to Prep for Merge

1. First load in our dataset from the csv I downloaded from the Educational Opportunity Project at Stanford University.

In [10]:
seda_raw_path = 'rawdata/seda_county_pool_cs_4.0.csv'
seda = pd.read_csv(seda_raw_path)
seda.head()

,sedacounty,sedacountyname,fips,stateabb,subcat,subgroup,gradecenter,gap,tot_asmts,cellcount,...,cs_mn_grd_ol_se,cs_mn_mth_ol_se,cs_mn_avg_eb,cs_mn_coh_eb,cs_mn_grd_eb,cs_mn_mth_eb,cs_mn_avg_eb_se,cs_mn_coh_eb_se,cs_mn_grd_eb_se,cs_mn_mth_eb_se
0,1001,Autauga County,1,AL,all,all,5.5,0,90120,120,...,0.006602,0.019285,0.018347,-0.021596,0.018256,-0.139268,0.009645,0.003298,0.006462,0.018923
1,1001,Autauga County,1,AL,race,asn,5.5,0,1274,99,...,NaN,NaN,0.430602,NaN,NaN,NaN,0.035202,NaN,NaN,NaN
2,1001,Autauga County,1,AL,race,blk,5.5,0,21564,120,...,0.007880,0.023220,-0.491160,-0.016851,0.008331,-0.130127,0.011592,0.003983,0.007694,0.022590
3,1001,Autauga County,1,AL,ecd,ecd,5.5,0,42350,120,...,0.007142,0.020828,-0.360849,-0.012469,0.006494,-0.130790,0.010398,0.003572,0.006981,0.020377
4,1001,Autauga County,1,AL,gender,fem,5.5,0,40006,108,...,0.007401,0.021432,0.072789,-0.021143,0.024315,-0.214264,0.010979,0.003827,0.007205,0.021025

2. The data provided here essentially has two types of test scores/gap/performance variables (the cs_... variables): ordinary least squares and empirical bayesian. The empirical bayesian estimates, according to the documentation provided from SEDA, are only to be used as predictor variables in a regression not as outcome (left-side variables) because they are shrunken estimates that might bias the coefficients. Since I am interested in using the performance variables as outcome variables, I will drop the (...eb) variables.

In [11]:
seda_varlist = ['sedacounty', 'sedacountyname', 'stateabb', 'subgroup', 'gradecenter', 'gap', 'tot_asmts', 'mn_asmts', 
                'cs_mn_avg_ol', 'cs_mn_coh_ol', 'cs_mn_grd_ol', 'cs_mn_mth_ol', 'cs_mn_avg_ol_se', 'cs_mn_coh_ol_se', 'cs_mn_grd_ol_se', 'cs_mn_mth_ol_se']
seda_long = seda[seda_varlist]
seda_long.head()

,sedacounty,sedacountyname,stateabb,subgroup,gradecenter,gap,tot_asmts,mn_asmts,cs_mn_avg_ol,cs_mn_coh_ol,cs_mn_grd_ol,cs_mn_mth_ol,cs_mn_avg_ol_se,cs_mn_coh_ol_se,cs_mn_grd_ol_se,cs_mn_mth_ol_se
0,1001,Autauga County,AL,all,5.5,0,90120,751.000000,0.018759,-0.022213,0.019486,-0.145871,0.009654,0.003353,0.006602,0.019285
1,1001,Autauga County,AL,asn,5.5,0,1274,12.868687,0.435298,NaN,NaN,NaN,0.035566,NaN,NaN,NaN
2,1001,Autauga County,AL,blk,5.5,0,21564,179.700000,-0.491329,-0.017038,0.009625,-0.135009,0.011610,0.004034,0.007880,0.023220
3,1001,Autauga County,AL,ecd,5.5,0,42350,352.916667,-0.360748,-0.012836,0.007545,-0.137546,0.010415,0.003631,0.007142,0.020828
4,1001,Autauga County,AL,fem,5.5,0,40006,370.425926,0.073698,-0.022106,0.025230,-0.219353,0.011007,0.003913,0.007401,0.021432

3. The data has lots of missing values. For such a large dataset of such a range of counties, it makes sense that some might not have observations for every category. Since so many counties are missing one value or another, I have decided to leave in the NAs for cleaining. Omitting counties for missing one variable might bias results towards counties with more robust collection methods - or ones that meet criteria for having a certain value (e.g. having enough asian students to report their test scores). For future analyses and summaries, the appropriate counties will be omitted if they are missing the necessary variables, but as a a part of the data cleaning, I will not remove them.

4. Now let's the data.

In [12]:
#save long data
seda_long_clean_path = 'cleandata/seda_long_clean.csv'
seda_long.to_csv(seda_long_clean_path)

### Part 3: Cleaining SEDA Covariates For Merge or Future Use

Alongside the primary data on performance, SEDA also offers county level covariates of various stripes. Some of these could be useful controls for our predictive models, so I want to add these in as well.

1. Let's load in the dataset

In [13]:
# reads in the csv from HIFLD
seda_cov_raw_path = 'rawdata/seda_cov_county_pool_4.0.csv'
seda_cov = pd.read_csv(seda_cov_raw_path)
seda_cov.head()

,sedacounty,sedacountyname,fips,urban,suburb,town,rural,perind,perasn,perhsp,...,unempavghsp,snapavghsp,povertyavghsp,single_momavghsp,lninc50avgwht,baplusavgwht,unempavgwht,snapavgwht,povertyavgwht,single_momavgwht
0,1001,Autauga County,1,0.0,0.0,0.0,1.0,0.002462,0.017063,0.025161,...,0.061747,0.079191,0.104945,0.194786,11.003533,0.264552,0.043530,0.076975,0.088411,0.130047
1,1003,Baldwin County,1,0.0,0.0,0.0,1.0,0.005552,0.009103,0.062696,...,0.052811,0.133604,0.281506,0.249554,10.922667,0.308316,0.047489,0.052844,0.086137,0.118517
2,1005,Barbour County,1,0.0,0.0,0.0,1.0,0.001248,0.008411,0.059145,...,0.046659,0.210763,0.283300,0.201000,10.724353,0.183297,0.060925,0.108179,0.120044,0.120386
3,1007,Bibb County,1,0.0,0.0,0.3,0.7,0.000814,0.002822,0.018936,...,0.077542,0.182657,0.059089,0.214029,10.765171,0.127884,0.059753,0.084164,0.115999,0.135528
4,1009,Blount County,1,0.0,0.0,0.0,1.0,0.001899,0.003147,0.141960,...,0.047765,0.094167,0.285794,0.143759,10.777903,0.130418,0.048868,0.082929,0.109960,0.125185

2. Looking at this data, there are a lot of covariates, and at this stage in our process, I'm not entirely sure which ones we want to include in our model later. The data is already pretty clean, so I'll just add some code we can fill in later to make sure we get the right covariates. For now, I will just leave in the percent economically disadvantaged, socio economic status measure for everyone in the county, and the total enrollment in grades 3-8.

In [14]:
#keeps only covariates of interest

#fill in list with the covariates of interest for later
seda_cov_varlist = ['perecd', 'sesavgall', 'totenrl']
seda_cov_totvarlist = ['sedacounty', 'sedacountyname'] + seda_cov_varlist
seda_cov = seda_cov[seda_cov_totvarlist]
seda_cov.head()

   sedacounty  sedacountyname    perecd  sesavgall  totenrl
0        1001  Autauga County  0.470157   0.130665   4481.4
1        1003  Baldwin County  0.474722   0.390299  13603.3
2        1005  Barbour County  0.759069  -1.591195   1836.6
3        1007     Bibb County  0.656081  -0.226344   1588.0
4        1009   Blount County  0.548490   0.082366   4490.1

3. Now we can save the data for future use.

In [15]:
#saves dataframe to csv
seda_cov_clean_path = 'cleandata/seda_cov_clean.csv'
seda_cov.to_csv(path_or_buf = seda_cov_clean_path)

### Part 4: Merging The Datasets

Now we have to put it all together... the datasets that is.

1. At first glance, the names of the counties in the data from SEDA and HIFLD do not match exactly. Luckily, both datasets contain [FIPS county codes](https://en.wikipedia.org/wiki/FIPS_county_code), which uniquely identify counties in the United States. We will merge our data based on these codes. I will use a left merge to maintain counties in the SEDA data that do not have private schools. Additionally, for the long data, this ensures that all the subgroups are kept.

In [16]:
## First merge with HIFLD
seda_hifld_merged_long = seda_long.merge(hifld_county, how='left', left_on='sedacounty', right_on= 'countyfips')
# Replace NA values for counties without private schools with 0s
seda_hifld_merged_long['priv_schools'] = seda_hifld_merged_long['priv_schools'].fillna(0)
seda_hifld_merged_long['priv_enrollment'] = seda_hifld_merged_long['priv_enrollment'].fillna(0)
seda_hifld_merged_long

,sedacounty,sedacountyname,stateabb,subgroup,gradecenter,gap,tot_asmts,mn_asmts,cs_mn_avg_ol,cs_mn_coh_ol,cs_mn_grd_ol,cs_mn_mth_ol,cs_mn_avg_ol_se,cs_mn_coh_ol_se,cs_mn_grd_ol_se,cs_mn_mth_ol_se,countyfips,state,priv_schools,priv_enrollment
0,1001,Autauga County,AL,all,5.5,0,90120,751.000000,0.018759,-0.022213,0.019486,-0.145871,0.009654,0.003353,0.006602,0.019285,1001.0,AL,6.0,226.056818
1,1001,Autauga County,AL,asn,5.5,0,1274,12.868687,0.435298,NaN,NaN,NaN,0.035566,NaN,NaN,NaN,1001.0,AL,6.0,226.056818
2,1001,Autauga County,AL,blk,5.5,0,21564,179.700000,-0.491329,-0.017038,0.009625,-0.135009,0.011610,0.004034,0.007880,0.023220,1001.0,AL,6.0,226.056818
3,1001,Autauga County,AL,ecd,5.5,0,42350,352.916667,-0.360748,-0.012836,0.007545,-0.137546,0.010415,0.003631,0.007142,0.020828,1001.0,AL,6.0,226.056818
4,1001,Autauga County,AL,fem,5.5,0,40006,370.425926,0.073698,-0.022106,0.025230,-0.219353,0.011007,0.003913,0.007401,0.021432,1001.0,AL,6.0,226.056818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51718,72153,Yauco Municipio,PR,hsp,5.5,0,17508,397.909091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
51719,72153,Yauco Municipio,PR,mal,5.5,0,10112,210.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
51720,72153,Yauco Municipio,PR,mfg,5.5,1,19406,404.291667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
51721,72153,Yauco Municipio,PR,nec,5.5,0,2889,87.545455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
51722,72153,Yauco Municipio,PR,neg,5.5,1,14387,399.638889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000

2. Note that we end with the same number of rows that we started with. This indicates that each FIPS ID from the HIFLD dataset is uniquely matched to one in the SEDA.

In [17]:
print(seda_long.shape)
print(seda_hifld_merged_long.shape)

(51723, 16)
(51723, 20)

3. Now, we have to merge this new dataset with the SEDA covariate data we selected in part 3. We can merge on the same key as the previous merge.

In [18]:
## Second merge with seda_cov
all_merged_long = seda_hifld_merged_long.merge(seda_cov, how='left', on='sedacounty')
# Drop columns with repetitive information
all_merged_long = all_merged_long.drop(labels = ['sedacountyname_y', 'state', 'countyfips'], axis = 1)
# Rename columns renamed in merge
all_merged_long = all_merged_long.rename(columns = {'sedacountyname_x' : 'countyname'})
all_merged_long

,sedacounty,countyname,stateabb,subgroup,gradecenter,gap,tot_asmts,mn_asmts,cs_mn_avg_ol,cs_mn_coh_ol,...,cs_mn_mth_ol,cs_mn_avg_ol_se,cs_mn_coh_ol_se,cs_mn_grd_ol_se,cs_mn_mth_ol_se,priv_schools,priv_enrollment,perecd,sesavgall,totenrl
0,1001,Autauga County,AL,all,5.5,0,90120,751.000000,0.018759,-0.022213,...,-0.145871,0.009654,0.003353,0.006602,0.019285,6.0,226.056818,0.470157,0.130665,4481.4
1,1001,Autauga County,AL,asn,5.5,0,1274,12.868687,0.435298,NaN,...,NaN,0.035566,NaN,NaN,NaN,6.0,226.056818,0.470157,0.130665,4481.4
2,1001,Autauga County,AL,blk,5.5,0,21564,179.700000,-0.491329,-0.017038,...,-0.135009,0.011610,0.004034,0.007880,0.023220,6.0,226.056818,0.470157,0.130665,4481.4
3,1001,Autauga County,AL,ecd,5.5,0,42350,352.916667,-0.360748,-0.012836,...,-0.137546,0.010415,0.003631,0.007142,0.020828,6.0,226.056818,0.470157,0.130665,4481.4
4,1001,Autauga County,AL,fem,5.5,0,40006,370.425926,0.073698,-0.022106,...,-0.219353,0.011007,0.003913,0.007401,0.021432,6.0,226.056818,0.470157,0.130665,4481.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51718,72153,Yauco Municipio,PR,hsp,5.5,0,17508,397.909091,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.818632,-3.928786,2530.4
51719,72153,Yauco Municipio,PR,mal,5.5,0,10112,210.666667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.818632,-3.928786,2530.4
51720,72153,Yauco Municipio,PR,mfg,5.5,1,19406,404.291667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.818632,-3.928786,2530.4
51721,72153,Yauco Municipio,PR,nec,5.5,0,2889,87.545455,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.818632,-3.928786,2530.4
51722,72153,Yauco Municipio,PR,neg,5.5,1,14387,399.638889,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0.818632,-3.928786,2530.4

Once again, we have the same number of rows we as in the previous dataset, indicating no duplicate matches. Therefore we are good to go!

4. In our merged data, we want to add a variable for private school density. This represents the percent of students in a county that attend private school (i.e. $\frac{\text{private enrollment}_i}{\text{public enrollment}_i + \text{private enrollment}_i}$ for county i).

In [19]:
# make new priv_density variable
all_merged_long['priv_density'] = all_merged_long.priv_enrollment / all_merged_long.totenrl

# Rearrange columns for ease of viewing
cols = all_merged_long.columns
all_merged_long = all_merged_long[['sedacounty', 'countyname', 'stateabb', 'subgroup', 'priv_schools',
                                    'priv_enrollment', 'totenrl', 'priv_density', 'perecd', 'sesavgall', 'gradecenter', 'gap',
                                    'tot_asmts', 'mn_asmts', 'cs_mn_avg_ol', 'cs_mn_coh_ol', 'cs_mn_grd_ol',
                                    'cs_mn_mth_ol', 'cs_mn_avg_ol_se', 'cs_mn_coh_ol_se','cs_mn_grd_ol_se',
                                    'cs_mn_mth_ol_se']]
all_merged_long

,sedacounty,countyname,stateabb,subgroup,priv_schools,priv_enrollment,totenrl,priv_density,perecd,sesavgall,...,tot_asmts,mn_asmts,cs_mn_avg_ol,cs_mn_coh_ol,cs_mn_grd_ol,cs_mn_mth_ol,cs_mn_avg_ol_se,cs_mn_coh_ol_se,cs_mn_grd_ol_se,cs_mn_mth_ol_se
0,1001,Autauga County,AL,all,6.0,226.056818,4481.4,0.050443,0.470157,0.130665,...,90120,751.000000,0.018759,-0.022213,0.019486,-0.145871,0.009654,0.003353,0.006602,0.019285
1,1001,Autauga County,AL,asn,6.0,226.056818,4481.4,0.050443,0.470157,0.130665,...,1274,12.868687,0.435298,NaN,NaN,NaN,0.035566,NaN,NaN,NaN
2,1001,Autauga County,AL,blk,6.0,226.056818,4481.4,0.050443,0.470157,0.130665,...,21564,179.700000,-0.491329,-0.017038,0.009625,-0.135009,0.011610,0.004034,0.007880,0.023220
3,1001,Autauga County,AL,ecd,6.0,226.056818,4481.4,0.050443,0.470157,0.130665,...,42350,352.916667,-0.360748,-0.012836,0.007545,-0.137546,0.010415,0.003631,0.007142,0.020828
4,1001,Autauga County,AL,fem,6.0,226.056818,4481.4,0.050443,0.470157,0.130665,...,40006,370.425926,0.073698,-0.022106,0.025230,-0.219353,0.011007,0.003913,0.007401,0.021432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51718,72153,Yauco Municipio,PR,hsp,0.0,0.000000,2530.4,0.000000,0.818632,-3.928786,...,17508,397.909091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51719,72153,Yauco Municipio,PR,mal,0.0,0.000000,2530.4,0.000000,0.818632,-3.928786,...,10112,210.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51720,72153,Yauco Municipio,PR,mfg,0.0,0.000000,2530.4,0.000000,0.818632,-3.928786,...,19406,404.291667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51721,72153,Yauco Municipio,PR,nec,0.0,0.000000,2530.4,0.000000,0.818632,-3.928786,...,2889,87.545455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51722,72153,Yauco Municipio,PR,neg,0.0,0.000000,2530.4,0.000000,0.818632,-3.928786,...,14387,399.638889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5. Save this long form data.

In [20]:
#saves dataframe to csv
all_merged_long_path = 'cleandata/all_merged_long_path.csv'
all_merged_long.to_csv(path_or_buf = all_merged_long_path)

### Part 4: Wide Form Data?

The data I downloaded from SEDA--and thus the final merged dataset--is in long form, with a separate observation for each subgroup within a county rather than just the county (for a more detailed explanation of long vs wide data see this [explantion from Towards Data Science](https://towardsdatascience.com/reshape-pandas-dataframe-with-pivot-table-in-python-tutorial-and-visualization-2248c2012a31)). Having the data in both forms enables me to work with it in different ways and select which version best matches whatever analysis or visualization I am trying to do, so I aim to generate two final forms of my dataset: one in long form and one in wide form. The `all_merged_long` dataset is, as the name implies in long form. So now we have to get a version in wide form.

1. Let's get a wide form of our data by using the pandas method `pivot_table()`.

In [21]:
#Creating a wide form of our data
pivot_index = ['sedacounty','countyname','stateabb','priv_schools', 'priv_enrollment', 'priv_density'] + seda_cov_varlist
pivot_values = ['tot_asmts', 'mn_asmts', 'cs_mn_avg_ol', 'cs_mn_coh_ol', 'cs_mn_grd_ol', 
                                   'cs_mn_mth_ol', 'cs_mn_avg_ol_se', 'cs_mn_coh_ol_se', 
                                   'cs_mn_grd_ol_se', 'cs_mn_mth_ol_se']
all_merged_wide = all_merged_long.pivot_table(index = pivot_index, 
                                              columns = 'subgroup', values = pivot_values)
all_merged_wide = all_merged_wide.reset_index(level = pivot_index)
all_merged_wide

         sedacounty           countyname stateabb priv_schools  \
subgroup
0              1001       Autauga County       AL          6.0
1              1003       Baldwin County       AL          7.0
2              1005       Barbour County       AL          2.0
3              1007          Bibb County       AL          1.0
4              1009        Blount County       AL          2.0
...             ...                  ...      ...          ...
3167          72145  Vega Baja Municipio       PR          0.0
3168          72147    Vieques Municipio       PR          0.0
3169          72149   Villalba Municipio       PR          0.0
3170          72151    Yabucoa Municipio       PR          0.0
3171          72153      Yauco Municipio       PR          0.0

         priv_enrollment priv_density    perecd sesavgall  totenrl  \
subgroup
0             226.056818     0.050443  0.470157  0.130665   4481.4
1             682.500000     0.050172  0.474722  0.390299  13603.3
2             144.333333     0.078587  0.759069 -1.591195   1836.6
3              45.000000     0.028338  0.656081 -0.226344   1588.0
4              50.625000     0.011275  0.548490  0.082366   4490.1
...                  ...          ...       ...       ...      ...
3167            0.000000     0.000000  0.850991 -3.227543   3496.7
3168            0.000000     0.000000  0.854603 -3.120517    585.8
3169            0.000000     0.000000  0.805265 -4.214987   2129.2
3170            0.000000     0.000000  0.826788 -4.011952   2499.4
3171            0.000000     0.000000  0.818632 -3.928786   2530.4

         cs_mn_avg_ol  ... tot_asmts                                        \
subgroup          all  ...       mtr     nam       nec       neg       wag
0            0.018759  ...    1384.0   109.0   47752.0   90102.0   53542.0
1           -0.006866  ...    7887.0  1447.0  142456.0  269294.0  201120.0
2           -0.593244  ...     280.0     NaN    8960.0   34470.0    8785.0
3           -0.414999  ...     272.0     NaN   10845.0   31528.0    6724.0
4           -0.224590  ...     622.0   114.0   40814.0   90187.0   44102.0
...               ...  ...       ...     ...       ...       ...       ...
3167              NaN  ...       NaN     NaN    3592.0   25908.0       NaN
3168              NaN  ...       NaN     NaN     544.0    4032.0       NaN
3169              NaN  ...       NaN     NaN    2682.0   15019.0       NaN
3170              NaN  ...      19.0     NaN    2842.0   18468.0       NaN
3171              NaN  ...       NaN     NaN    2889.0   14387.0       NaN


subgroup       wbg       whg       wht       wmg       wng
0          84684.0   60157.0   63120.0   49537.0   30640.0
1         236627.0  210599.0  207417.0  174736.0  205335.0
2          32613.0   12567.0   11898.0    5928.0       NaN
3          30007.0   21641.0   23601.0   14685.0       NaN
4          76410.0   87440.0   74893.0   47987.0   38552.0
...            ...       ...       ...       ...       ...
3167           NaN       NaN       NaN       NaN       NaN
3168           NaN       NaN       NaN       NaN       NaN
3169           NaN       NaN       NaN       NaN       NaN
3170           NaN       NaN       NaN       NaN       NaN
3171           NaN       NaN       NaN       NaN       NaN

[3172 rows x 173 columns]

As you can see, my data is now VERY wide with 171 columns. Although such a wide dataset is a little cumbersome, it enables us to put our data in a form where each observation is just a county and perform analyses and visualizations on that. Additionally, we now have a hierarchical column index. Our super columns are our original variables, and our sub columns are the value of that for each subgroup (but only for the outcomes variables where the value differs for that subgroup).

2. Save this file!

In [22]:
# saves dataframe to csv
all_merged_wide_path = 'cleandata/all_merged_wide_path.csv'
all_merged_wide.to_csv(path_or_buf = all_merged_wide_path)